<h1 class="page-title">Projects</h1>  

  <div>
    <button class="btn-create-new" type="submit" (click)="clickAddNewProject()">Create project</button>
  </div>
  <br>
<table class="table">  
  <tr style="background-color: #f9f9f9">  
    <th>Title</th>
    <th>Description</th>
    <th>Organization</th>
    <th>Role</th>
    <th>Skills</th>
    <th>Attachments</th>
    <th>Type</th>
    <th>Create</th>
    <th>Updated</th>
    <th></th>
    <th></th>
  </tr>  
  
  <tr *ngFor="let project of projects">  
    <td><a type="button" class="link-redirect" (click)="redirectToProject(project.id)">{{project.title}}</a>
      </td>
    <td>{{project.description}}</td>
    <td>{{project.organization}}</td>
    <td><span class="attention" *ngIf="project.role===''">No authorize</span>
      <span *ngIf="project.role!==''">{{project.role}}</span>
    </td>
   
    <td>{{project.skills}}</td>
    <td>{{project.attachments}}</td>
    <td>{{project.projectType}}</td>
    <td>{{project.create}}</td>
    <td>{{project.update}}</td>
    <td>  
      <button *ngIf="isAuthenticated" type="submit" class="btn btn-primary" (click)="clickEdit(project.id)">
        Edit
      </button>
    </td>
    <td>  
      <div >
        <button  *ngIf="isAuthenticated" type="submit" class="btn btn-primary" (click)="clickDelate(project.id)">
          Delete
        </button>
      </div>
    </td>
  </tr>  
</table>  