<div >
    <div class="form-group" id="container">
        <label><b>Title: </b></label>
        <span >{{projectVm?.title}}</span>
       
    </div>
    <br />
    <div class="form-group" id="container">
        <label><b>Description: </b></label>
        <span> {{projectVm?.description}}</span>
    </div>
    <br />
    <div class="form-group" id="container">
        <label><b>Organization: </b></label>
        <span>{{projectVm?.organization}}</span>
        
    </div>
    <br>
    <div id="container">
        <label><b>Role: </b></label>
        <span class="attention" *ngIf="projectVm?.role===''">No authorize</span>
      <span *ngIf="projectVm?.role!==''">{{projectVm?.role}}</span>   
    </div>
    <br />
    <div  id="container">
        <table class="table">
            <tr>
                <th>File</th>
                <th>Date</th>
            </tr>
            <tr *ngFor="let file of projectVm?.attachmentVm">
                <td>{{file.fileName}}</td>
                <td>{{file.date}}</td>
            </tr>
        </table>
    </div>
    <br />
    <div>   
        <div id="container">
            <table class="table">
                    <tr>
                        <th>Skill</th>
                    </tr>
                    <div *ngFor="let skill of projectVm?.skills">
                        <tr><td>{{skill.skillName}}</td> </tr>
                    </div>
            </table>

        </div>

    </div>
    <hr />
    <div class="form-group" id="container">
        <label for="Link"><b>Type: </b></label>
        <span>{{projectVm?.projectType}}</span>
    </div>
    <div class="form-group" id="container">
        <label for="Link"><b>Last update: </b></label>
        <span> {{projectVm?.update}}</span>
    </div>
    <!-- <hr />
    <form asp-action="Index" asp-controller="Project">
        <button type="submit" class="btn btn-primary"><b>Go to progects</b></button>
    </form> -->
</div>
<hr />