<h2>New project</h2>
<form formValidator [formGroup]="form"  (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-md-6">
          <label>Title:</label>
          <input name="title" type="text" class="form-control" placeholder="Enter title..." 
          formControlName="title" autocomplete="title"
          (ngModelChange)="onTargetMonetChange('title')" [class.is-warning-input-title]="isWarningTitle">
          <div class="warning-box">
            <div [hidden]="!isWarningTitle" class="warning-title">
                Can't be empty "title".
              </div>
          </div>
        </div>
        <div class="form-group col-md-6">
            <label>Description:</label>
            <input name="description" type="text" class="form-control" placeholder="Enter description..." formControlName="description" 
            autocomplete="description"
            (ngModelChange)="onTargetMonetChange('description')" [class.is-warning-input-description]="isWarningDescription">
            <div class="warning-box">
                <div [hidden]="!isWarningDescription" class="warning-title">
                    Can't be empty "description".
                  </div>
              </div>
        </div>
        <div class="form-group col-md-6">
            <label>Organization:</label>
            <input name="organization" type="text" class="form-control"  placeholder="Enter organization..."  formControlName="organization" autocomplete="organization" >
        </div>
        <div class="form-group">
            <label>Type:</label>
              <select class="form-control select-type" formControlName="selectedType">
                <option value="default">--Select a type--</option>
                <option *ngFor="let type of progectTypes" [ngValue]="type">{{type?.nameType}}</option>
            </select>
        </div>
    </div>
    
    <div >
        <button type="submit" class="btn btn-primary btn-create-new" [disabled]="checkValid()">Save setttings</button>
      </div>
</form>