
<h2>Edit project - {{progectVm?.title}}</h2>
<form formValidator [formGroup]="form"  (ngSubmit)="onSubmit()">
    <div id="container" class="form-row">
        <div class="form-group col-md-6">
          <label>Title:</label>
          <input name="title" type="text" class="form-control" placeholder="Enter title... "
          formControlName="title" autocomplete="title"   
           [class.is-warning-input]="isWarningTitle">
        </div>
        <div class="form-group col-md-6">
            <label>Description:</label>
            <input name="description" type="text" class="form-control" placeholder="Enter description ..." formControlName="description" 
            autocomplete="description">
        </div>
        <div class="form-group col-md-6">
            <label>Organization:</label>
            <input name="organization" type="text" class="form-control"  placeholder="Enter organization..."  formControlName="organization">
        </div>
       
    </div>

    <br />  
    <div id="container">
        <table class="table">
            <tr>
                <th>File</th>
                <th>Date</th>
                <th></th>
            </tr>
            <tr *ngFor="let file of progectVm?.attachments">
                <td>{{file.fileName}}</td>
                <td>{{file.dateCreate}}</td>
                <td>
                    <button type="submit" class="btn btn-primary" (click)="clickDelate(file.id)">
                        Delete
                    </button>
                </td>
            </tr>
        </table>
        <div>
            <button class="btn-create-new" type="submit" (click)="clickAddNewFile(progectVm.id)">Add file</button>
            </div>
    </div>
    <br />
    <div>   
        <div id="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Skill</th>
                    </tr>
                </thead>
                <tbody>
                    <div *ngFor="let skill of progectVm?.skills">
                        <tr><td>{{skill.skillName}}</td> </tr>
                    </div>
                </tbody>
            </table>

        </div>

    </div>
    <br />

    <div  id="container" class="form-group type-container">
        <label class="type-box">Type: <span class="type-text">{{progectVm?.projectType.nameType}}</span> </label>
        <select class="form-control select-type" formControlName="selectedType">
            <option *ngFor="let type of progectTypes" [ngValue]="type">{{type?.nameType}}</option>
        </select>
    </div>
      
    <div >
        <button type="submit" class="btn btn-primary" [disabled]="checkValid()">Save setttings</button>
      </div>
</form>